.navhead{
  font-size: 18px;
}

/* Optional: additional container padding adjustments */
.container-fluid {
  padding: 0; /* Reset padding if necessary */
}

.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.card-hover .btn-primary {
  transition: background-color 0.3s ease;
}

.card-hover:hover .btn-primary {
  background-color: #0056b3;
}
.navbar-logo {
  width: 50px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
}
